.home-container {
  padding: 40px;
}

.home-container h3 {
  font-size: 48px;
}

.home-container h4 {
  font-size: 24px;
  color: rgba(126, 126, 126, 1);
}

.start-button {
  color: #fff;
  margin-top: 27px;
}
